/* tkibform.css
 * Copyright (c) 2013 Todd Hossack
 * Version: 0.0.1
 * Last updated: 2013-06-08
 */

/* ---- Form status ---- */
.formStatusBox {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
}

.ie8 .formStatusBox {
	background-image: url('../images/shims/opacity-black-20.png');
	background-repeat: repeat;
	background-position: center center;
}

.formStatus {
	display: none;
	position: relative;
	top: 40%;
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	opacity: 1;
	background-color: #00313a;
	border: 1px solid #3f646b;
	-moz-box-shadow: 5px 5px 20px rgba(0,0,0,.4);
	-webkit-box-shadow: 5px 5px 20px rgba(0,0,0,.4);
	box-shadow: 5px 5px 20px rgba(0,0,0,.4);
}

.formStatus .formStatusImage {
	margin: 0;
	height: 24px;
	background-image: url('../images/icons/ajax/loading-circle-386f7b-24.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.formStatus .formStatusMsg {
	margin: 5px 0 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
}

/* ---- Tool tips ---- */
form .tipBtn {
	display: inline-block;
	/*
	position: absolute;
	top: 30px;
	right: 0;
 */
	width: 15px;
	height: 15px;
	margin-left: 10px;
	font-size: 15px;
	line-height: 1;
	color: #666;
	text-align: center;
	font-weight: normal;
	/*background-image: url('../images/icons/tips/tip-btn.png');
	background-repeat: no-repeat;
	background-position: center center; */
	background-color: #ddd;
	background-color: rgba(255,255,255,.75);
	border-size: 1px;
	border-style: solid;
	border-color:rgb(153,153,153);
	-moz-border-radius: 15px;
	-webkit-border-radius: 10px;
	border-radius: 15px;
}
form .tipClose {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 10px;
	height: 10px;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	background-color: rgba(65,35,16,.2);
}
form .tipBtn:hover,
form .tipClose:hover {
	cursor: pointer;
}
form .tip {
	z-index: 1000;
	display: none;
	position: absolute;
	top: -25px;
	left: 100%;
	width: 11em;
	margin: 0 0 10px 0;
	padding: 10px;
	font-weight: normal;
	color: rgb(65,81,56);
	background-color: rgb(227,241,222);
	border: 1px solid rgb(64,98,52);
	border-style:solid;
}

form .tip:after, form .tip:before {
	position: absolute;
	right: 100%;
	width: 0;
	height: 0;
	content: " ";
	pointer-events: none;
	border: solid transparent;
	/* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

form .tip:after {
	border-color: rgba(227,241,222,0);
	border-right-color: rgb(227,241,222);
	border-width: 20px 30px 0 0;
	top: 35px;
	margin-top: -20px;
}

form .tip:before {
	border-color: rgba(65,81,56,0);
	border-right-color: rgb(65,81,56);
	border-right-color: rgba(65,81,56, .5);
	border-width: 22px 33px 0 0;
	top: 35px;
	margin-top: -21px;
}