/* Panel styles 
 * Last updated: 2013-05-12
 */

/* -------- Panels -------- */
.multiPanelView {
	position: relative;
	height: 100%;
	min-height: 500px;
}
/* Panel holder  */
.panelHolder {}

.panelHolder.panelsVisible {}

.panelDockTop { margin-bottom: 1px; }
.panelDockRight { margin-left: 1px; }
.panelDockBottom { margin-top: 1px; }
.panelDockLeft { margin-right: 1px; }

/* Panel tabs */
.panelTabs {
	margin: 0;
	padding: 0;
}

.panelTabsHoriz {}

.panelTabsHoriz .panelTab {
	float: left;
	display: inline-block;
	margin: 0 1px 0 0;
}

.panelTabsVert {}

.panelTab {
	position: relative;
	background-color: rgba(255,255,255,.15);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

.panelTab.panelVisible,
.panelsVisible .panelTab {
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

.panel.panelDisabled .panelTab,
.panel.panelDisabled .panelBody,
.panelTab.panelDisabled {
	opacity: .6;
}

.ie8 .panel.panelDisabled .panelTab,
.ie8 .panel.panelDisabled .panelBody,
.ie8 .panelTab.panelDisabled {
	filter: alpha(opacity=60);
}

.panelTab .panelTabTitle {
	margin: 0 40px 0 0;
	padding: 0;
	font-size: 1.2em;
}

.panelTab a { display:block; }

.panelTab a,
.panelTab a:visited {
	color: rgb(226,221,218);
	color: rgba(255,255,255,.85);
}

.panelTab a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.panelTab .panelTabTitle a {
	padding: 10px 15px 10px 15px;
}

.panelTab .panelTabButtons {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
}

.panelTab .panelTabIconMinRestore {
	display: block;
	width: 10px;
	height: 10px;
	padding: 5px;
	overflow: hidden;
	line-height: 10px;
	font-size: 1.2em;
	text-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
	-moz-box-shadow: inset 0 10px 10px rgba(255,255,255,.3);
	-webkit-box-shadow: inset 0 10px 10px rgba(255,255,255,.3);
	box-shadow: inset 0 10px 10px rgba(255,255,255,.3);
}

.panelTabButtons .panelTabIconMinRestore {
	background-image: url("../images/panels/paneltab-toggle.png");
	background-position: left top;
}

.panelTabButtons .panelTabIconMinRestore:hover {
	background-position: right top;
}

.panelVisible .panelTabButtons .panelTabIconMinRestore {
	background-position: left bottom;
}

.panelVisible .panelTabButtons .panelTabIconMinRestore:hover {
	background-position: right bottom;
}
/* Panel content */
.panelBody {
	clear: both;
	z-index: 10;
	padding: 15px;
	background-color: rgb(13,141,164);
	background-color: rgba(255,255,255,.1);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 1px 1px 0 rgba(0,0,0,.1);
}

.typography .panelBody > *:first-child {
	margin-top: 0;
}

.panelBody h5 {}

.panelBody form {
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}
